/* Responsive - nesahat, jediny kdo to muze editovat je RJ!
---------------------------------------------------------------------------------------------------- */


/* Obecne veci
---------------------------------------------------------------------------------------------------- */
img 
{
	max-width: 100%;
	height: auto;
}


@media \0screen 
{
	img 
	{ 
		width: auto; /*  ie 8 */
	}
}