{block content}
    <div class="text-purple-200">

        <div class="Cover">
        
        </div>

        <div class="flex flex-wrap">

            <div class="w-1/5">BOX</div>
            <div class="w-1/3">BOX</div>
            <div class="w-1/3">BOX</div>
            
        
        </div>
    </div>
{/block}